@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/Sonic_Advanced_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

svg {
    display: none;
}

/* Filtro CRT */
.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.144) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 3px, 2px 100%;
    pointer-events: none;
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.10626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.10626;
    }

    30% {
        opacity: 0.18128;
    }

    35% {
        opacity: 0.23604;
    }
}

.crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.05s infinite;
    opacity: 0.23604;
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    font-family: 'PixelFont';
    overflow: hidden;
    user-select: none;
    filter: url(#wave);
    image-rendering: pixelated !important;
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -ms-user-drag: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    /*cursor: url("sprites/UI/cursors/default_cursor.png"), auto;*/
}

.background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    -webkit-user-drag: none;
    /* Chrome, Safari, Opera */
    -moz-user-drag: none;
    /* Firefox */
    -ms-user-drag: none;
    /* Internet Explorer */
    -webkit-user-select: none;
    /* Desactivar selección en WebKit */
    -moz-user-select: none;
    /* Desactivar selección en Firefox */
    -ms-user-select: none;
    /* Desactivar selección en Internet Explorer */
    user-select: none;
    /* Desactivar selección en navegadores modernos */
    aspect-ratio: 16/9;
}


#contenedor {
    transform: scale(100%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
    /*background-color: black;*/
    width: 1000px;
    height: 100px;
    transition: filter 0.1s ease-in-out;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.397));
}

.dado {
    image-rendering: pixelated;
    width: 33px;
    height: 82px;
    background-color: transparent;
    position: relative;
    scale: 260%;
    top: -40px;
    transition: transform 0.1s;
    -webkit-user-drag: none;
    /* Chrome, Safari, Opera */
    -moz-user-drag: none;
    /* Firefox */
    -ms-user-drag: none;
    /* Internet Explorer */
    -webkit-user-select: none;
    /* Desactivar selección en WebKit */
    -moz-user-select: none;
    /* Desactivar selección en Firefox */
    -ms-user-select: none;
    /* Desactivar selección en Internet Explorer */
    user-select: none;
    /* Desactivar selección en navegadores modernos */
}

.dadoApear {
    animation: ascender 0.1s ease-out forwards;
}

@keyframes ascender {
    0% {
        transform: translateY(100px);
        /* Comienza 100px debajo de su posición */
        opacity: 0;
        /* Totalmente invisible */
    }

    100% {
        transform: translateY(0);
        /* Posición final */
        opacity: 1;
        /* Totalmente visible */
    }
}

.vibrar {
    animation: vibrar 0.1s infinite !important;
    margin-top: -10px;
}

@keyframes vibrar {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.dado:hover {
    animation: flotar 0.6s ease-in-out infinite;
    image-rendering: pixelated;
}

@keyframes flotar {

    0%,
    100% {
        transform: translateY(0);
        /* Posición original */
    }

    50% {
        transform: translateY(-10px);
        /* Elevarse 10 píxeles */
    }
}



#manoJugada {
    transform: scale(100%);
    top: 500px;
    position: absolute;
    display: grid;
    margin-left: -500px;
    grid-auto-flow: dense;
    /* Avanza hacia la izquierda conforme se agregan más elementos */
    width: 300px;
    transition: margin-left 0.5s ease;
    filter: drop-shadow(-5px 2px 5px rgba(0, 0, 0, 0.397));
}

.dadoJugado {

    width: 73px;
    height: 39px;
    scale: 225%;
    margin-left: -20px;
    transform: scale(210%);
    image-rendering: pixelated;
    -webkit-user-drag: none;
    /* Chrome, Safari, Opera */
    -moz-user-drag: none;
    /* Firefox */
    -ms-user-drag: none;
    /* Internet Explorer */
    -webkit-user-select: none;
    /* Desactivar selección en WebKit */
    -moz-user-select: none;
    /* Desactivar selección en Firefox */
    -ms-user-select: none;
    /* Desactivar selección en Internet Explorer */
    user-select: none;
    /* Desactivar selección en navegadores modernos */

}


.fichasRestantes {
    font-size: 2rem;
    color: white;
    width: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #000000;
}

.passB {
    width: 94px;
    height: 63px;
    position: absolute;
    margin-left: 1500px;
    margin-right: -130px;
    cursor: pointer;
    image-rendering: pixelated;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.contadorCombo {
    font-size: 3rem;
    color: white;
    position: absolute;
    width: 500px;
    margin-bottom: 650px;
    margin-left: -400px;
    text-shadow: 4px 4px 0 #000000;
}

.comboAnimation {
    animation: subirYFadeIn 0.6s ease-out forwards, vibrarCombo 0.2s infinite;
}

.combo1 {
    color: #cfaa80;
}

.combo2 {
    color: #c28d6b;
}

.combo3 {
    color: #b35054;
}

.combo4 {
    color: #a1234d;
}

.combo5 {
    color: #821653;
}

@keyframes subirYFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes vibrarCombo {
    0% {
        transform: translate(2px, 0);
    }

    25% {
        transform: translate(-2px, 0);
    }

    50% {
        transform: translate(2px, 0);
    }

    75% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 2s forwards;
}

.vidaJugador {
    transform: scale(100%);
    font-size: 3rem;
    color: rgb(235, 229, 171);
    margin-right: 120px;
    padding: 20px;
    text-shadow: 4px 4px 0 #000000;
    margin-left: -250px;
    animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(-5px) rotate(-2deg);
    }

    50% {
        transform: translateX(5px) rotate(2deg);
    }

    75% {
        transform: translateX(-2px) rotate(-1deg);
    }
}

.hpLoss {
    color: #a1234d;
    font-size: 3rem;
    margin-bottom: 60px;
    margin-left: -1350px;
    position: absolute;
    animation: bounce 0.5s ease-in-out infinite;
    transform: scale(100%);

}

.hpGain {
    color: rgb(138, 207, 219);
    font-size: 3rem;
    margin-bottom: 60px;
    margin-left: -1350px;
    position: absolute;
    animation: bounce 0.5s ease-in-out infinite;
    transform: scale(100%);

}

.vibrarHpLoss {
    animation: vibrar 0.1s infinite !important;
}

.taptapC {
    width: 100vw;
    height: 100vh;
    position: absolute;
}



.infobox {
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 0 #000000;
    padding: 10px;
    border-radius: 2px;
    font-size: 3rem;
    pointer-events: none;
    /* Para que la descripcion no interfiera con el cursor */
    opacity: 0;
    /* Oculto por defecto */
    transition: opacity 3s step-end;
    background-color: rgba(0, 0, 0, 0.432);
}

.rathp {
    position: absolute;
    font-size: 3rem;
    color: rgb(235, 229, 171);
    text-shadow: 4px 4px 0 #000000;
    margin-bottom: 900px;
    margin-left: 1600px;
    transform: scale(100%);
}

.filterScreen {
    position: absolute;
    width: 1980px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
    display: none;
    animation: subirOpacidad 0.5s ease-out forwards;
}

@keyframes subirOpacidad {
    from {
        background-color: rgba(0, 0, 0, 0);
        /* Completamente transparente */
    }

    to {
        background-color: rgba(0, 0, 0, 0.842);
        /* Completamente opaco */
    }
}


.roundGainsContainer {
    position: absolute;
    width: 20vw;
    height: 50vh;
    z-index: 2;
    margin-bottom: 20vh;
    display: none;
    image-rendering: pixelated;
}

.gainsText {
    font-size: 3rem;
    line-height: 1;
    image-rendering: pixelated;
    /* Asegura que la fuente no se escale */
    color: rgb(235, 229, 171);
    text-shadow: 4px 4px 0 #000000;
    text-align: center;
}

.damageText {
    font-size: 3rem;
    line-height: 1;
    image-rendering: pixelated;
    /* Asegura que la fuente no se escale */
    color: #a1234d;
    text-shadow: 4px 4px 0 #000000;
    text-align: center;
}

.pauseMenu {
    position: absolute;
    width: 30vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.938);
    z-index: 3;
    display: none;
    image-rendering: pixelated;
    margin-bottom: 20vh;
    animation: aparecerElastico 0.5s ease-out forwards;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.397);

    font-size: 3rem;
    color: rgb(235, 229, 171);
    text-shadow: 4px 4px 0 #000000;
    text-align: center;
}

@keyframes aparecerElastico {
    0% {
        transform: scale(0);
        /* Comienza desde tamaño 0 (invisible) */
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        /* Escala a un poco más grande de su tamaño final */
        opacity: 1;
    }

    80% {
        transform: scale(0.9);
        /* Rebota hacia un tamaño ligeramente menor */
    }

    100% {
        transform: scale(1);
        /* Termina en su tamaño natural */
    }
}

.PAUSE {
    color: rgb(69, 130, 130);
    text-shadow: 4px 4px 0 rgba(69, 130, 130, 0.493);
    ;
}

.pauseMenu button {
    font-family: 'PixelFont';
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
}

.pauseMenu button:hover {
    color: rgb(235, 229, 171);
    cursor: pointer;
}

.blackScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 5;
}

/*
.testJson{
    font-size: 3rem;
    color: white;
    position: absolute;
    width: 10vw;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    z-index: 4;
    margin-bottom: 20vh;
}
*/

.objectContainer {
    position: absolute;
    top: 400px;
    width: 200px;
    height: 100px;
    margin-left: 400px;
    background-color: #000000;
    font-size: 2rem;
    color: white;
    z-index: 4;
    display: none;
    /* Oculto por defecto para testear uso de objetos*/
}

.enemyText {
    position: absolute;
    font-size: 2.5rem;
    background-color: black;
    color: #a1234d;
    padding: 10px;
    z-index: 6;
    top: 10px;
    display: none;
}

.ratSiluete {
    width: 243px;
    height: 154px;
    ;
    position: absolute;
    scale: 300%;
    top: 150px;
    opacity: 0.5;
}