@font-face {
    font-family: 'PixelFont';
    src: url('fonts/pixeldroidConsoleRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("sprites/UI/backgrounds/tapete.png");
    background-repeat: no-repeat;
    background-size: cover; /* Esto ajusta la imagen para cubrir todo el fondo */
    background-attachment: fixed;
    image-rendering: pixelated;
    font-family: 'PixelFont';
    aspect-ratio: 16 / 9;
    overflow: hidden;
    user-select: none;
    /*cursor: url("sprites/UI/cursors/default_cursor.png"), auto;*/
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
    /*background-color: black;*/
    width: 1000px;
    height: 100px;
}

.dado {
    /*
    width: 33px;
    height: 83px;
    */
    width: 33px;
    height: 82px;
    background-color: transparent;
    position: relative;  
    /*
    scale: 180%
    */
    scale: 260%;
    top: -40px;
    image-rendering: pixelated;
    transition: transform 0.1s;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */
}

.vibrar {
    animation: vibrar 0.1s infinite !important;
    margin-top:-10px; 
}

@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.dado:hover {
    animation: flotar 0.6s ease-in-out infinite;
    /*border: 2px solid cyan;*/
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0); /* Posición original */
    }
    50% {
        transform: translateY(-10px); /* Elevarse 10 píxeles */
    }
}



#manoJugada{
    top:500px;
    position: absolute;
    display: grid;
    margin-left: -500px;
    grid-auto-flow: dense; /* Avanza hacia la izquierda conforme se agregan más elementos */
    width: 300px;
    transition: margin-left 0.5s ease;
}

.dadoJugado {

    width: 73px;
    height: 39px;
    scale: 260%;
    margin-left: -20px;
    image-rendering: pixelated;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */

}


.fichasRestantes {
    font-size: 3rem;
    color: white;
    width: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #000000;
}

.passB {
    width: 71px;
    height: 61px;
    margin-left: 150px;
    margin-right: -50px;
    margin-bottom: 70px;
    scale: 350%;
    cursor: pointer;
    image-rendering: pixelated;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */

}


.contadorCombo{
    font-size: 4rem;
    color: white;
    position: absolute;
    width: 500px;
    margin-bottom: 650px;
    margin-left: -400px;
    text-shadow: 4px 4px 0 #000000;
}

.comboAnimation{
    animation: subirYFadeIn 0.6s ease-out forwards,vibrarCombo 0.2s infinite;
}

.combo1{
    color: #cfaa80;
}

.combo2{
    color: #c28d6b;
}

.combo3{
    color: #b35054;
}

.combo4{
    color: #a1234d;
}

.combo5{
    color: #821653;
}

@keyframes subirYFadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes vibrarCombo {
    0% { transform: translate(2px, 0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 2s forwards;
}

.vidaJugador{
    font-size: 4rem;
    color: white;
    margin-right: 120px;
    padding: 20px;
    text-shadow: 4px 4px 0 #000000;
    margin-left: -250px;
}

.hpLoss{
    color: #a1234d;
    font-size: 4rem;
    margin-bottom: 60px;
    margin-left: -1560px;
    position:absolute;

}

.vibrarHpLoss{
    animation: vibrar 0.1s infinite !important;
}