@font-face {
    font-family: 'PixelFont';
    src: url('fonts/Sonic_Advanced_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

svg{
    display: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    max-width: 1980px;
    min-width: 1280px;
    min-height: 720px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("sprites/UI/backgrounds/tapete.png");
    background-repeat: no-repeat;
    background-size: cover; /* Esto ajusta la imagen para cubrir todo el fondo */
    background-attachment: fixed;
    image-rendering: pixelated;
    font-family: 'PixelFont';
    aspect-ratio: 16 / 9;
    overflow: hidden;
    user-select: none;
    filter: url(#wave);
    /*cursor: url("sprites/UI/cursors/default_cursor.png"), auto;*/
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */
}


#contenedor {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
    /*background-color: black;*/
    width: 1000px;
    height: 100px;
    transition: filter 0.1s ease-in-out;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.397));
}

.dado {
    /*
    width: 33px;
    height: 83px;
    */
    width: 33px;
    height: 82px;
    background-color: transparent;
    position: relative;  
    /*
    scale: 180%
    */
    scale: 260%;
    top: -40px;
    image-rendering: pixelated;
    transition: transform 0.1s;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */
}

.vibrar {
    animation: vibrar 0.1s infinite !important;
    margin-top:-10px; 
}

@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.dado:hover {
    animation: flotar 0.6s ease-in-out infinite;
    /*border: 2px solid cyan;*/
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0); /* Posición original */
    }
    50% {
        transform: translateY(-10px); /* Elevarse 10 píxeles */
    }
}



#manoJugada{
    top:500px;
    position: absolute;
    display: grid;
    margin-left: -500px;
    grid-auto-flow: dense; /* Avanza hacia la izquierda conforme se agregan más elementos */
    width: 300px;
    transition: margin-left 0.5s ease;
    filter: drop-shadow(-5px 2px 5px rgba(0, 0, 0, 0.397));
}

.dadoJugado {

    width: 73px;
    height: 39px;
    scale: 225%;
    margin-left: -20px;
    image-rendering: pixelated;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */

}


.fichasRestantes {
    font-size: 2rem;
    color: white;
    width: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #000000;
}

.passB {
    width: 94px;
    height: 63px;
    position: absolute;
    margin-left: 1500px;
    margin-right: -120px;
    margin-bottom: 86px;
    scale: 380%;
    cursor: pointer;
    image-rendering: pixelated;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    -webkit-user-select: none; /* Desactivar selección en WebKit */
    -moz-user-select: none;    /* Desactivar selección en Firefox */
    -ms-user-select: none;     /* Desactivar selección en Internet Explorer */
    user-select: none;         /* Desactivar selección en navegadores modernos */

}


.contadorCombo{
    font-size: 3rem;
    color: white;
    position: absolute;
    width: 500px;
    margin-bottom: 650px;
    margin-left: -400px;
    text-shadow: 4px 4px 0 #000000;
}

.comboAnimation{
    animation: subirYFadeIn 0.6s ease-out forwards,vibrarCombo 0.2s infinite;
}

.combo1{
    color: #cfaa80;
}

.combo2{
    color: #c28d6b;
}

.combo3{
    color: #b35054;
}

.combo4{
    color: #a1234d;
}

.combo5{
    color: #821653;
}

@keyframes subirYFadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes vibrarCombo {
    0% { transform: translate(2px, 0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 2s forwards;
}

.vidaJugador{
    font-size: 3rem;
    color: rgb(235, 229, 171);
    margin-right: 120px;
    padding: 20px;
    text-shadow: 4px 4px 0 #000000;
    margin-left: -250px;
    animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25% {
      transform: translateX(-5px) rotate(-2deg);
    }
    50% {
      transform: translateX(5px) rotate(2deg);
    }
    75% {
      transform: translateX(-2px) rotate(-1deg);
    }
}

.hpLoss{
    color: #a1234d;
    font-size: 3rem;
    margin-bottom: 60px;
    margin-left: -1350px;
    position:absolute;
    animation: bounce 0.5s ease-in-out infinite;

}

.hpGain{
    color: rgb(138, 207, 219);
    font-size: 3rem;
    margin-bottom: 60px;
    margin-left: -1350px;
    position:absolute;
    animation: bounce 0.5s ease-in-out infinite;

}

.vibrarHpLoss{
    animation: vibrar 0.1s infinite !important;
}

.taptapC{
    width: 100vw;
    height: 100vh;
    position: absolute;
}



.infobox {
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 0 #000000;
    padding: 10px;
    border-radius: 2px;
    font-size: 3rem;
    pointer-events: none; /* Para que la descripcion no interfiera con el cursor */
    opacity: 0; /* Oculto por defecto */
    transition: opacity 3s step-end;
    background-color: rgba(0, 0, 0, 0.432);
}

.rathp{
    position:absolute;
    font-size: 3rem;
    color: rgb(235, 229, 171);
    text-shadow: 4px 4px 0 #000000;
    margin-bottom: 900px;
    margin-left: 1600px;
}

.filterScreen{
    position: absolute;
    width: 1980px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
    display: none;
    animation: subirOpacidad 0.5s ease-out forwards;
}

@keyframes subirOpacidad {
    from {
        background-color: rgba(0, 0, 0, 0); /* Completamente transparente */
    }
    to {
        background-color: rgba(0, 0, 0, 0.842); /* Completamente opaco */
    }
}


.roundGainsContainer{
    position: absolute;
    width: 20vw;
    height: 50vh;
    z-index: 2;
    margin-bottom: 20vh;
    display: none;
    image-rendering: pixelated;
}

.gainsText{
    font-size: 3rem; 
    line-height: 1; 
    image-rendering: pixelated; /* Asegura que la fuente no se escale */   
    color: rgb(235, 229, 171);
    text-shadow: 4px 4px 0 #000000;
    text-align: center;
}

.damageText{
    font-size: 3rem; 
    line-height: 1; 
    image-rendering: pixelated; /* Asegura que la fuente no se escale */   
    color: #a1234d;
    text-shadow: 4px 4px 0 #000000;
    text-align: center;
}
